*{
    margin:0 ;
    padding: 0%;
    font-family: 'poppins', sans-serif;

}

/* header */

.bg-body-tertiary{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.container-fluid{
    background-color: rgb(37, 37, 39);
}
.navbar-brand{
    height: auto;
    margin: 0;
}
.navbar-collapse{
    justify-content: right;
}
.nav-link{
    color: white;
}
header img{
    width: 60px;
}
header ul li{
    border-right: 2px solid white;
    font-size: 20px;
}
header ul li:last-of-type{
    border-right: 0px;
}

/* main */
main{
    padding-top: 84px;
    background-color: rgb(85, 80, 80);
}

.div-imagen-inicio{
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagen-inicio{
    height: 40%;
    width: 25%;
}


.div-videos-inicio{
    display: flex;
    flex-direction: row;
    padding: 15px 50px;
    justify-content: space-between;
}
.videos-inicio{
    width: 374px;
    height: 315px;
}

/* footer */
footer ul{
    background-color: rgb(33, 33, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
}
footer .letra-footer{
    color: white;
}

/* anime */
.div-imagen-anime{
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagen-anime{
    height: 40%;
    width: 25%;
}
.div-videos-anime{
    display: flex;
    flex-direction: row;
    padding: 15px 50px;
    justify-content: space-between;
}
.videos-anime{
    width: 374px;
    height: 315px;
}

/* manga */
.div-imagen-manga{
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagen-manga{
    height: 40%;
    width: 25%;
}

/* peliculas */
.div-imagen-peliculas{
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagen-pelicula{
    height: 40%;
    width: 25%;
}
.div-videos-peliculas{
    display: flex;
    flex-direction: row;
    padding: 15px 50px;
    justify-content: space-between;
}
.videos-peliculas{
    width: 374px;
    height: 315px;
}

/* iniciar sesion*/

/* media mobyle */
@media (max-width:375.2px){
    /* header */
    .bg-body-tertiary{
        width: 100%;
        height: auto;
        padding: 0%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }
    .container-fluid{
        background-color: rgb(37, 37, 39);
    }
    .navbar-brand{
        height: auto;
        margin: 0;
    }
    .navbar-collapse{
        justify-content: right;
    }
    .nav-link{
        color: white;
    }
    header img{
        width: 60px;
    }
    header ul li{
        border-right: 2px solid white;
        font-size: 20px;
    }
    header ul li:last-of-type{
        border-right: 0px;
    }

    /* maind */
    main{
        padding-top: 84px;
        width: auto;
    }
    .div-imagen-inicio{
        padding: 1%;
        flex-direction: column;
    }
    .imagen-inicio{
        width: 50%;
        padding: 1% 7% ;
    }
    .div-videos-inicio{
        display: flex;
        flex-direction: column;
        padding: 2% 1%;
        justify-content: space-between;
    }
    .videos-inicio{
        width: 100%;
        height: 280px;
    }

    /* anime */
    .div-imagen-anime{
        padding: 1%;
        flex-direction: column;
    }
    .imagen-anime{
        width: 50%;
        padding: 1% 7%;
    }
    .div-videos-anime{
        display: flex;
        flex-direction: column;
        padding: 2% 1%;
        justify-content: space-between;
    }
    .videos-anime{
        width: 100%;
        height: 280px;
    }
    /* manga */
    .div-imagen-manga{
        padding: 2% 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .imagen-manga{
        height: 40%;
        width: 25%;
    }
    /* peliculas*/
    .div-imagen-peliculas{
        padding: 1%;
        flex-direction: column;
    }
    .imagen-pelicula{
        width: 50%;
        padding: 1% 7%;
    }
    .div-videos-peliculas{
        flex-direction: column;
        padding: 2% 1%;
        justify-content: space-between;
    }
    .videos-peliculas{
        width: 100%;
        height: 280px;
    }

    /* footer */
    footer{
        height: 175px;
        width: auto;
    }
    footer ul{
        padding: 10px;
    }
}