*{
    margin:0 ;
    padding: 0%;
    font-family: 'poppins', sans-serif;

}

/* header */

.bg-body-tertiary{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.container-fluid{
    background-color: rgb(37, 37, 39);
}
.navbar-brand{
    height: auto;
    margin: 0;
}
.navbar-collapse{
    justify-content: right;
}
.nav-link{
    color: white;
}
header img{
    width: 60px;
}
header ul li{
    border-right: 2px solid white;
    font-size: 20px;
}
header ul li:last-of-type{
    border-right: 0px;
}

/* main */
main{
    padding-top: 84px;
    background-color: rgb(85, 80, 80);
    min-height: 150vh;
}

section{
    padding: 4%;
}

p .text-center{
    display: flex;
    flex: content;
}

.imagen-inicio{
    height: 32%;
}

.videos-inicio{
    width: 374px;
    height: 315px;
}

/* footer */
footer ul{
    margin-bottom: 0%;
    background-color: rgb(33, 33, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
}
footer .letra-footer{
    color: white;
}

/* anime */
.imagen-anime{
    height: 42%;
}
.videos-anime{
    width: 374px;
    height: 315px;
}

/* manga */
.imagen-manga{
    height: 62%;
}

/* peliculas */
.imagen-pelicula{
    height: 24%;
}
.videos-peliculas{
    width: 374px;
    height: 315px;
}

/* iniciar sesion*/

/* media mobyle */
@media (max-width:375.2px){
    /* header */
    .bg-body-tertiary{
        width: 100%;
        height: auto;
        padding: 0%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }
    .container-fluid{
        background-color: rgb(37, 37, 39);
    }
    .navbar-brand{
        height: auto;
        margin: 0;
    }
    .navbar-collapse{
        justify-content: right;
    }
    .nav-link{
        color: white;
    }
    header img{
        width: 60px;
    }
    header ul li{
        border-right: 2px solid white;
        font-size: 20px;
    }
    header ul li:last-of-type{
        border-right: 0px;
    }

    /* maind */
    main{
        padding-top: 84px;
        width: auto;
    }
    section{
        padding: 4%;
        display: flex;
        flex-direction: column;
    }
    article{
        padding: 5% 4%;
    }
    .imagen-inicio{
        width: 50%;
        padding: 1% 7% ;
    }
    .videos-inicio{
        width: 100%;
        height: 280px;
    }

    /* anime */
    .imagen-anime{
        width: 50%;
        padding: 1% 7%;
    }
    .videos-anime{
        width: 100%;
        height: 280px;
    }
    /* manga */
    .imagen-manga{
        height: 40%;
        width: 25%;
    }
    /* peliculas*/
    .imagen-pelicula{
        width: 50%;
        padding: 1% 7%;
    }
    .videos-peliculas{
        width: 100%;
        height: 280px;
    }

    /* footer */
    footer{
        height: 175px;
        width: auto;
    }
    footer ul{
        padding: 10px;
    }
}