.imagen-anime{
    height: 42%;
}
.videos-anime{
    width: 374px;
    height: 315px;
}

@media (max-width:375.2px){
    .imagen-anime{
        width: 50%;
        padding: 1% 7%;
    }
    .videos-anime{
        width: 100%;
        height: 280px;
    }
}